# Plan your trip with booking

## Project ðŸš§

The marketing team needs help on a new project. After doing some user research, the team discovered that **70% of their users who are planning a trip would like to have more information about the destination they are going to**. 

In addition, user research shows that **people tend to be defiant about the information they are reading if they don't know the brand** which produced the content. 

Therefore, Kayak Marketing Team would like to create an application that will recommend where people should plan their next holidays. The application should be based on real data about:

* Weather 
* Hotels in the area 

The application should then be able to recommend the best destinations and hotels based on the above variables at any given time.

To complete this project we will deliver :

* A `.csv` file in an S3 bucket containing enriched information about weather and hotels for each french city

* A SQL Database where we should be able to get the same cleaned data from S3 

* Two maps with Top-5 destinations and a Top-20 hotels in the area.

In [1]:
!pip install plotly -q
!pip install scrapy -q
#Importing libraries
import requests
import pandas as pd
import requests
# Import os => Library used to easily manipulate operating systems
## More info => https://docs.python.org/3/library/os.html
import os 
# Import logging => Library used for logs manipulation 
## More info => https://docs.python.org/3/library/logging.html
import logging

# Import scrapy and scrapy.crawler 
import scrapy
from scrapy.crawler import CrawlerProcess

import pandas as pd

import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as pyp
import plotly.io as pio
pd.options.display.max_columns = None
pio.renderers.default = "iframe_connected"

### Cities list

In [2]:
# Cities 
desired_booking_searches = ["Mont Saint Michel","St Malo","Bayeux","Le Havre","Rouen","Paris","Amiens",
"Lille","Strasbourg","Chateau du Haut Koenigsbourg","Colmar","Eguisheim","Besancon","Dijon","Annecy","Grenoble","Lyon",
"Gorges du Verdon","Bormes les Mimosas","Cassis","Marseille","Aix en Provence","Avignon","Uzes","Nimes","Aigues Mortes",
"Saintes Maries de la mer","Collioure","Carcassonne","Toulouse","Montauban","Biarritz","Bayonne","La Rochelle"]


#desired_booking_searches.apply(lambda x :" ","+") 
desired_booking_searches2 = [] #These are the citie with a + replacing ' ' spaces to add it to the URL for requesting the API.
for string in desired_booking_searches:
    new_string = string.replace(" ", "+")
    desired_booking_searches2.append(new_string)
print(desired_booking_searches2)

['Mont+Saint+Michel', 'St+Malo', 'Bayeux', 'Le+Havre', 'Rouen', 'Paris', 'Amiens', 'Lille', 'Strasbourg', 'Chateau+du+Haut+Koenigsbourg', 'Colmar', 'Eguisheim', 'Besancon', 'Dijon', 'Annecy', 'Grenoble', 'Lyon', 'Gorges+du+Verdon', 'Bormes+les+Mimosas', 'Cassis', 'Marseille', 'Aix+en+Provence', 'Avignon', 'Uzes', 'Nimes', 'Aigues+Mortes', 'Saintes+Maries+de+la+mer', 'Collioure', 'Carcassonne', 'Toulouse', 'Montauban', 'Biarritz', 'Bayonne', 'La+Rochelle']

### Getting informations from the API

In [3]:
#Let's take a look at the JSON file for Paris only.
city_url = "https://nominatim.openstreetmap.org/search?q={}&format=json".format("Paris")
r = requests.get(city_url)

In [4]:
r.json()

[{'place_id': 281739181,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 7444,
  'boundingbox': ['48.8155755', '48.902156', '2.224122', '2.4697602'],
  'lat': '48.8588897',
  'lon': '2.3200410217200766',
  'display_name': 'Paris, ÃŽle-de-France, France mÃ©tropolitaine, France',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.9417101715588673,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 281718298,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 71525,
  'boundingbox': ['48.8155755', '48.902156', '2.224122', '2.4697602'],
  'lat': '48.8566969',
  'lon': '2.3514616',
  'display_name': 'Paris, ÃŽle-de-France, France mÃ©tropolitaine, France',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.9417101715588673,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 282245345,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 115357,
  'boundingbox': ['33.6206345', '33.7383866', '-95.6279396', '-95.4354115'],
  'lat': '33.6617962',
  'lon': '-95.555513',
  'display_name': 'Paris, Lamar County, Texas, 75460, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.6061645097134651,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 282228998,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 130722,
  'boundingbox': ['38.164922', '38.238271', '-84.307326', '-84.232089'],
  'lat': '38.2097987',
  'lon': '-84.2529869',
  'display_name': 'Paris, Bourbon County, Kentucky, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5586843760767399,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 282538731,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 1641193,
  'boundingbox': ['48.8155755', '48.902156', '2.224122', '2.4697602'],
  'lat': '48.8588897',
  'lon': '2.3200410217200766',
  'display_name': 'Paris, ÃŽle-de-France, France mÃ©tropolitaine, France',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5383953917728153,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 281903902,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 197171,
  'boundingbox': ['36.266003', '36.329016', '-88.367113', '-88.265067'],
  'lat': '36.3019461',
  'lon': '-88.3258578',
  'display_name': 'Paris, Henry County, Tennessee, 38242, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5250690427980547,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 281830340,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 126166,
  'boundingbox': ['39.581493', '39.649981', '-87.721046', '-87.649203'],
  'lat': '39.611146',
  'lon': '-87.6961374',
  'display_name': 'Paris, Edgar County, Illinois, 61944, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5244799592274194,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 283380479,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 12165996,
  'boundingbox': ['44.1754185', '44.3124081', '-70.566213', '-70.414966'],
  'lat': '44.259954',
  'lon': '-70.500641',
  'display_name': 'Paris, Oxford County, Maine, 04281, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5190701377223524,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 282779896,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 6678712,
  'boundingbox': ['35.2681485', '35.3065882', '-93.761965', '-93.6755169'],
  'lat': '35.2920325',
  'lon': '-93.7299173',
  'display_name': 'Paris, Logan County, Arkansas, 72855, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5136706902956424,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 281792659,
  'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 140787,
  'boundingbox': ['39.469158', '39.489278', '-92.02148', '-91.991679'],
  'lat': '39.4808721',
  'lon': '-92.0012811',
  'display_name': 'Paris, Monroe County, Missouri, 65275, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.4954384749221683,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'}]

In [5]:
#Here, we've located the latitude and longitude infos
latitude = r.json()[0]['lat']
longitude = r.json()[0]['lon']

In [6]:
#Ley's create a dataframe to store every new information we get.
df = pd.DataFrame(desired_booking_searches)
df = df.rename(columns={0: 'Cities'})
df.head()

              Cities
0  Mont Saint Michel
1            St Malo
2             Bayeux
3           Le Havre
4              Rouen

GETTING CITIES COORDONNATES

In [7]:
#Let's Loop on Cities names to add latitudes and longitudes in our dataframe df.
for i in range(len(df)):

    city_url = "https://nominatim.openstreetmap.org/search?q={}&format=json".format(desired_booking_searches2[i])
    r = requests.get(city_url)
    latitude = r.json()[0]["lat"]
    longitude = r.json()[0]["lon"]
    df.loc[i, 'Latitude'] = latitude #Adds Latitude infos to the Dataframe
    df.loc[i, 'Longitude'] = longitude #Adds Longitude infos to the Dataframe
    
df.head()

              Cities    Latitude           Longitude
0  Mont Saint Michel  48.6359541  -1.511459954959514
1            St Malo   48.649518          -2.0260409
2             Bayeux  49.2764624          -0.7024738
3           Le Havre  49.4938975           0.1079732
4              Rouen  49.4404591           1.0939658

ADDING WEATHER INFOS

In [8]:
#Getting infos from Weather API
city_weather = "https://api.openweathermap.org/data/2.5/onecall?lat=48.63552322&lon=-1.5102571&units=metric&exclude=hourly,minutely,alerts&appid=43bc8aba840c225183db5d27a92fe653"
r2 = requests.get(city_weather)
r2

In [9]:
r2.json()['daily']

[{'dt': 1641556800,
  'sunrise': 1641542247,
  'sunset': 1641572799,
  'moonrise': 1641553680,
  'moonset': 1641594120,
  'moon_phase': 0.17,
  'temp': {'day': 6.74,
   'min': 5.45,
   'max': 8.97,
   'night': 8.65,
   'eve': 8.54,
   'morn': 6.55},
  'feels_like': {'day': 2.19, 'night': 4.84, 'eve': 3.9, 'morn': 2.01},
  'pressure': 1019,
  'humidity': 70,
  'dew_point': 1.66,
  'wind_speed': 11.92,
  'wind_deg': 257,
  'wind_gust': 19.7,
  'weather': [{'id': 501,
    'main': 'Rain',
    'description': 'moderate rain',
    'icon': '10d'}],
  'clouds': 75,
  'pop': 1,
  'rain': 10.73,
  'uvi': 0.61},
 {'dt': 1641643200,
  'sunrise': 1641628626,
  'sunset': 1641659270,
  'moonrise': 1641641160,
  'moonset': 0,
  'moon_phase': 0.21,
  'temp': {'day': 9.77,
   'min': 6.6,
   'max': 10.31,
   'night': 6.6,
   'eve': 7.2,
   'morn': 8.51},
  'feels_like': {'day': 5.7, 'night': 1.34, 'eve': 1.42, 'morn': 4.93},
  'pressure': 1008,
  'humidity': 88,
  'dew_point': 7.66,
  'wind_speed': 15.41,
  'wind_deg': 295,
  'wind_gust': 21.92,
  'weather': [{'id': 502,
    'main': 'Rain',
    'description': 'heavy intensity rain',
    'icon': '10d'}],
  'clouds': 100,
  'pop': 1,
  'rain': 14.58,
  'uvi': 0.13},
 {'dt': 1641729600,
  'sunrise': 1641715002,
  'sunset': 1641745743,
  'moonrise': 1641728520,
  'moonset': 1641684840,
  'moon_phase': 0.25,
  'temp': {'day': 8.21,
   'min': 6.4,
   'max': 9.18,
   'night': 8.42,
   'eve': 8.92,
   'morn': 6.76},
  'feels_like': {'day': 4.64, 'night': 5.8, 'eve': 5.39, 'morn': 2.37},
  'pressure': 1008,
  'humidity': 86,
  'dew_point': 5.85,
  'wind_speed': 10.92,
  'wind_deg': 286,
  'wind_gust': 16.47,
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': 100,
  'pop': 1,
  'rain': 8.97,
  'uvi': 0.39},
 {'dt': 1641816000,
  'sunrise': 1641801376,
  'sunset': 1641832219,
  'moonrise': 1641815880,
  'moonset': 1641775440,
  'moon_phase': 0.27,
  'temp': {'day': 9.39,
   'min': 6.96,
   'max': 9.49,
   'night': 7.55,
   'eve': 8.04,
   'morn': 7.36},
  'feels_like': {'day': 8.52, 'night': 5.76, 'eve': 6.9, 'morn': 6.41},
  'pressure': 1019,
  'humidity': 81,
  'dew_point': 6.16,
  'wind_speed': 4.06,
  'wind_deg': 325,
  'wind_gust': 8.62,
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': 100,
  'pop': 0.46,
  'uvi': 0.27},
 {'dt': 1641902400,
  'sunrise': 1641887746,
  'sunset': 1641918696,
  'moonrise': 1641903360,
  'moonset': 1641865920,
  'moon_phase': 0.3,
  'temp': {'day': 6.03,
   'min': 2.2,
   'max': 6.92,
   'night': 2.84,
   'eve': 3.49,
   'morn': 2.3},
  'feels_like': {'day': 3.31, 'night': 0.89, 'eve': 1.35, 'morn': -1.33},
  'pressure': 1034,
  'humidity': 69,
  'dew_point': 0.55,
  'wind_speed': 3.93,
  'wind_deg': 130,
  'wind_gust': 7.71,
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'clouds': 40,
  'pop': 0,
  'uvi': 0.81},
 {'dt': 1641988800,
  'sunrise': 1641974114,
  'sunset': 1642005174,
  'moonrise': 1641990960,
  'moonset': 1641956340,
  'moon_phase': 0.33,
  'temp': {'day': 6.56,
   'min': 1.38,
   'max': 6.6,
   'night': 1.89,
   'eve': 2.6,
   'morn': 1.38},
  'feels_like': {'day': 4.23, 'night': -2.17, 'eve': -1.17, 'morn': -0.94},
  'pressure': 1040,
  'humidity': 57,
  'dew_point': -1.67,
  'wind_speed': 4.33,
  'wind_deg': 55,
  'wind_gust': 10.39,
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': 84,
  'pop': 0,
  'uvi': 1},
 {'dt': 1642075200,
  'sunrise': 1642060480,
  'sunset': 1642091655,
  'moonrise': 1642078800,
  'moonset': 1642046820,
  'moon_phase': 0.36,
  'temp': {'day': 4,
   'min': -1.13,
   'max': 4.5,
   'night': -1.13,
   'eve': 0.18,
   'morn': -0.84},
  'feels_like': {'day': -0.23, 'night': -5.35, 'eve': -3.8, 'morn': -5.25},
  'pressure': 1037,
  'humidity': 50,
  'dew_point': -5.8,
  'wind_speed': 5.67,
  'wind_deg': 78,
  'wind_gust': 11.47,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': 3,
  'pop': 0,
  'uvi': 1},
 {'dt': 1642161600,
  'sunrise': 1642146842,
  'sunset': 1642178137,
  'moonrise': 1642167000,
  'moonset': 1642137180,
  'moon_phase': 0.39,
  'temp': {'day': 3.98,
   'min': -1.29,
   'max': 4.84,
   'night': 0.17,
   'eve': 1.01,
   'morn': -1.29},
  'feels_like': {'day': 2.36, 'night': 0.17, 'eve': 1.01, 'morn': -4.96},
  'pressure': 1031,
  'humidity': 52,
  'dew_point': -5.11,
  'wind_speed': 3.32,
  'wind_deg': 100,
  'wind_gust': 6.16,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': 0,
  'pop': 0,
  'uvi': 1}]

In [10]:
r2.json()['daily'][0]['dt']

1641556800

In [11]:
#Let's locate some temperatures informations
day_temp = r2.json()['daily'][0]['temp']['day']
night_temp = r2.json()['daily'][0]['temp']['night']

In [12]:
#Daily Weather conditions
weather_conditions = r2.json()['daily'][0]['weather'][0]['id']

In [13]:
#Weather for current day (day, night and overall weather description)
for i in range(len(df)):

    city_weather = "https://api.openweathermap.org/data/2.5/onecall?lat={}2&lon={}&units=metric&exclude=hourly,minutely,alerts&appid=43bc8aba840c225183db5d27a92fe653".format(df['Latitude'][i],df['Longitude'][i])
    r2 = requests.get(city_weather)
    #Let's locate some temperatures informations
    day_temp = r2.json()['daily'][0]['temp']['day']
    night_temp = r2.json()['daily'][0]['temp']['night']
    #Daily Weather conditions
    weather_conditions = r2.json()['daily'][0]['weather'][0]['description']
    df.loc[i, 'dtf_0'] = day_temp #Adds Day temperature infos to the Dataframe and '0' for current day
    df.loc[i, 'ntf_0'] = night_temp #Adds Night temperature infos to the Dataframe  and '0' for current day
    df.loc[i, 'wf_0'] = weather_conditions #As wf for Weather forecast  and '0' for current day
    
df.head()

,Cities,Latitude,Longitude,dtf_0,ntf_0,wf_0
0,Mont Saint Michel,48.6359541,-1.511459954959514,6.89,8.65,moderate rain
1,St Malo,48.649518,-2.0260409,7.04,9.23,moderate rain
2,Bayeux,49.2764624,-0.7024738,6.82,6.42,light rain
3,Le Havre,49.4938975,0.1079732,6.69,6.53,light rain
4,Rouen,49.4404591,1.0939658,6.35,4.34,moderate rain

In [14]:
#Let's get the forecast for the next 7 days.
for i in range(len(df)):
    
    city_weather = "https://api.openweathermap.org/data/2.5/onecall?lat={}2&lon={}&units=metric&exclude=hourly,minutely,alerts&appid=43bc8aba840c225183db5d27a92fe653".format(df['Latitude'][i],df['Longitude'][i])
    r2 = requests.get(city_weather)
    
    for dt in range(1,7): #Description for the next 7 days
        get_weather = r2.json()['daily'][dt]['weather'][0]['description']
        df.loc[i, 'wf_{}'.format(dt)] = get_weather #As wf for weather forecast
        
    for dt in range(1,7): #Forecasted day temp
        get_temp = r2.json()['daily'][dt]['temp']['day'] #As tf for day temp forecast
        df.loc[i, 'dtf_{}'.format(dt)] = get_temp
        
    for dt in range(1,7): #Forecasted night temp
        get_temp = r2.json()['daily'][dt]['temp']['night'] #As ntf for night temp forecast and '0' for current day
        df.loc[i, 'ntf_{}'.format(dt)] = get_temp
        
df.head()

,Cities,Latitude,Longitude,dtf_0,ntf_0,wf_0,wf_1,wf_2,wf_3,wf_4,wf_5,wf_6,dtf_1,dtf_2,dtf_3,dtf_4,dtf_5,dtf_6,ntf_1,ntf_2,ntf_3,ntf_4,ntf_5,ntf_6
0,Mont Saint Michel,48.6359541,-1.511459954959514,6.89,8.65,moderate rain,heavy intensity rain,light rain,overcast clouds,scattered clouds,broken clouds,clear sky,9.77,8.21,9.39,6.03,6.55,4.00,6.61,8.43,7.56,2.85,1.90,-1.12
1,St Malo,48.649518,-2.0260409,7.04,9.23,moderate rain,heavy intensity rain,light rain,overcast clouds,scattered clouds,broken clouds,clear sky,10.32,8.56,9.56,6.31,6.64,4.08,7.31,9.66,8.48,4.56,4.70,1.22
2,Bayeux,49.2764624,-0.7024738,6.82,6.42,light rain,heavy intensity rain,light rain,overcast clouds,broken clouds,overcast clouds,clear sky,9.01,8.09,8.67,6.04,5.93,3.38,5.35,5.50,6.24,2.45,2.44,-1.75
3,Le Havre,49.4938975,0.1079732,6.69,6.53,light rain,heavy intensity rain,moderate rain,light rain,overcast clouds,overcast clouds,clear sky,9.23,8.06,8.49,5.37,6.32,4.11,7.49,8.30,5.81,4.03,3.38,1.15
4,Rouen,49.4404591,1.0939658,6.35,4.34,moderate rain,heavy intensity rain,light rain,overcast clouds,overcast clouds,overcast clouds,clear sky,7.98,5.47,7.01,4.69,4.99,3.67,5.72,3.87,2.01,1.02,0.44,-0.90

In [15]:
#Let's create a specific ID for every city
ID = 1
df['id'] = ""
for i in range(len(df)):
    df['id'][i] = ID
    ID += 1

# shift column 'C' to first position
first_column = df.pop('id')
# insert column using insert(position,column_name,first_column) function
df.insert(0, 'id', first_column)

df.head()

<ipython-input-15-124442f2b7fa>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,Cities,Latitude,Longitude,dtf_0,ntf_0,wf_0,wf_1,wf_2,wf_3,wf_4,wf_5,wf_6,dtf_1,dtf_2,dtf_3,dtf_4,dtf_5,dtf_6,ntf_1,ntf_2,ntf_3,ntf_4,ntf_5,ntf_6
0,1,Mont Saint Michel,48.6359541,-1.511459954959514,6.89,8.65,moderate rain,heavy intensity rain,light rain,overcast clouds,scattered clouds,broken clouds,clear sky,9.77,8.21,9.39,6.03,6.55,4.00,6.61,8.43,7.56,2.85,1.90,-1.12
1,2,St Malo,48.649518,-2.0260409,7.04,9.23,moderate rain,heavy intensity rain,light rain,overcast clouds,scattered clouds,broken clouds,clear sky,10.32,8.56,9.56,6.31,6.64,4.08,7.31,9.66,8.48,4.56,4.70,1.22
2,3,Bayeux,49.2764624,-0.7024738,6.82,6.42,light rain,heavy intensity rain,light rain,overcast clouds,broken clouds,overcast clouds,clear sky,9.01,8.09,8.67,6.04,5.93,3.38,5.35,5.50,6.24,2.45,2.44,-1.75
3,4,Le Havre,49.4938975,0.1079732,6.69,6.53,light rain,heavy intensity rain,moderate rain,light rain,overcast clouds,overcast clouds,clear sky,9.23,8.06,8.49,5.37,6.32,4.11,7.49,8.30,5.81,4.03,3.38,1.15
4,5,Rouen,49.4404591,1.0939658,6.35,4.34,moderate rain,heavy intensity rain,light rain,overcast clouds,overcast clouds,overcast clouds,clear sky,7.98,5.47,7.01,4.69,4.99,3.67,5.72,3.87,2.01,1.02,0.44,-0.90

### Rearrangin the dataframe to show weather forecasts vertically, by city.

In [16]:
#Flipping the dataframe into multiindex df to create animated maps for Day temp forecast + Night temp forecast and weather description
df_flip = pd.wide_to_long(df, 
                          stubnames=['dtf', 'ntf', 'wf'], 
                          sep ='_',
                          i=['id', 'Cities', 'Latitude', 'Longitude'], 
                          j='day')
df_flip

                                                         dtf    ntf  \
id Cities            Latitude   Longitude          day
1  Mont Saint Michel 48.6359541 -1.511459954959514 0    6.89   8.65
                                                   1    9.77   6.61
                                                   2    8.21   8.43
                                                   3    9.39   7.56
                                                   4    6.03   2.85
...                                                      ...    ...
34 La Rochelle       46.1591126 -1.1520434         2    9.64  10.02
                                                   3    9.59   8.86
                                                   4    6.44   3.82
                                                   5    5.92   3.60
                                                   6    3.56   2.98

                                                                          wf
id Cities            Latitude   Longitude          day
1  Mont Saint Michel 48.6359541 -1.511459954959514 0           moderate rain
                                                   1    heavy intensity rain
                                                   2              light rain
                                                   3         overcast clouds
                                                   4        scattered clouds
...                                                                      ...
34 La Rochelle       46.1591126 -1.1520434         2           moderate rain
                                                   3              light rain
                                                   4               clear sky
                                                   5           broken clouds
                                                   6               clear sky

[238 rows x 3 columns]

In [17]:
df_flip.reset_index(level=['Cities', 'Latitude', 'Longitude', 'day'], inplace = True) #Multiindexes as columns 
df_flip

,Cities,Latitude,Longitude,day,dtf,ntf,wf
id,,,,,,,
1,Mont Saint Michel,48.6359541,-1.511459954959514,0,6.89,8.65,moderate rain
1,Mont Saint Michel,48.6359541,-1.511459954959514,1,9.77,6.61,heavy intensity rain
1,Mont Saint Michel,48.6359541,-1.511459954959514,2,8.21,8.43,light rain
1,Mont Saint Michel,48.6359541,-1.511459954959514,3,9.39,7.56,overcast clouds
1,Mont Saint Michel,48.6359541,-1.511459954959514,4,6.03,2.85,scattered clouds
...,...,...,...,...,...,...,...
34,La Rochelle,46.1591126,-1.1520434,2,9.64,10.02,moderate rain
34,La Rochelle,46.1591126,-1.1520434,3,9.59,8.86,light rain
34,La Rochelle,46.1591126,-1.1520434,4,6.44,3.82,clear sky
34,La Rochelle,46.1591126,-1.1520434,5,5.92,3.60,broken clouds
34,La Rochelle,46.1591126,-1.1520434,6,3.56,2.98,clear sky

In [19]:
#Export du dataframe
df_flip.to_csv('cities_weather.csv')

#### Open 'PROJECT Plan_your_trip_part2' to read more